@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  font-family: "Roboto";
}

body {
  background-color: #e2e8f0;
}

.container {
  display: grid;
  grid-template-columns: minmax(20%, 270px) 1fr;
}

.icon,
.profile-img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

.profile-img {
  border-radius: 50%;
}

.icon-container {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.profile-img-container {
  width: 40px;
  height: 40px;
  display: inline-block;
}

.bold-text {
  font-weight: bold;
}

.bold-500 {
  font-weight: 500;
}

header {
  grid-column: 2 / -1;

  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: #ffffff;
  padding: 6px 24px;
  gap: 12px;
}

header .top {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

.top .left {
  display: grid;
  grid-template-columns: 30px 80%;
  gap: 16px;
  align-items: center;
}

.top .right {
  display: grid;
  grid-template-columns: 20px 40px 1fr;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.search-bar {
  height: 20px;
  border-radius: 12px;
  background-color: #e2e8f0;
}

header .bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 8px;
}

.bottom .left {
  display: grid;
  grid-template-columns: 50px minmax(max-content, 50%);
  gap: 16px;
  align-items: center;
}

.bottom .left .profile-img-container {
  width: 50px;
  height: 50px;
}

.bottom ul {
  text-align: center;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
  justify-items: stretch;
  margin-left: auto;
}

.bottom ul li {
  width: 120px;
  background-color: #1992d4;
  color: white;
  border-radius: 30px;
  padding: 8px 16px;
}

aside {
  grid-row: 1 / 3;
  background-color: #1992d4;
  color: #ffffff;
  display: grid;
  grid-template-rows: minmax(25px, max-content) minmax(200px, max-content) minmax(
      109px,
      max-content
    );
  padding: 20px;
  gap: 30px;
}

aside ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

aside li {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 15px;
  align-items: center;
  font-weight: 600;
}

aside li .icon-container {
  justify-self: center;
  width: 24px;
  height: 24px;
}

aside li .dashboard {
  width: 40px;
  height: 40px;
}

main {
  grid-column: 2 / -1;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 22px 16px;
  gap: 18px;
}

main > div {
  display: grid;
  grid-template-rows: max-content 1fr;
  gap: 12px;
}

.projects {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(170px, 1fr));
  justify-items: center;
  gap: 20px;
}

.project-card {
  display: grid;
  grid-template-columns: max-content 1fr;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.color-bar {
  width: 5.5px;
  background-color: #f0b429;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.project-card .content-area {
  padding: 20px 12px;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

.content-area p {
  padding: 4px 0;
  color: rgb(128, 114, 114);
}

.project-icon-group {
  margin-top: 8px;
  justify-self: end;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  justify-items: center;
}

.announcement-cards {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
}

.announcement-card-header {
  font-size: 15px;
}

.announcements hr {
  background-color:  rgb(128, 114, 114);
  margin: 16px auto;
}

.announcements p {
  color: #7e7777;
  font-size: 0.9rem;
  padding: 4px 0;
}

.trending-cards {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  display: grid;
  gap: 12px;
}

.trending-card {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 10px;
  align-items: center;
}

.trending-card p {
  color: #7e7777;
  font-size: 0.9rem;
  padding: 4px 0;
}
